/* shoutout realtimecolors.com */
/* also shoutout me forgetting the colors */

@font-face {
  font-family: 'Oxygen Mono';
  src: url('/assets/fonts/OxygenMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* variables */
:root[data-theme="light"] {
  --text: #26272c;
  --background: #dedfe3;
  --primary: #a376fc; /* yElLoW bAd sigh :( */
  --secondary: #f25a73;
  --accent: #778efd;
}

:root[data-theme="dark"] {
  --text: #dedfe3;
  --background: #26272c;
  --primary: #ffc700;
  --secondary: #f15871;
  --accent: #778efd;
}

/* base color stuff */
html {
  font-size: 100%;
}

body {
  font-family: 'Oxygen Mono', sans-serif;
  font-weight: 400;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 2rem;
  line-height: 1.6;
}

/* to adj text colors */
.primarycolor { color: var(--primary); }
.secondarycolor { color: var(--secondary); }
.accentcolor { color: var(--accent); }

/* font and size */
body {
  font-family: 'Oxygen Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen Mono';
  font-weight: 400;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */
    color: var(--primary);}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* links */
a {
  color: var(--accent);
  text-decoration: none;
}

/* nav */
nav a {
  color: var(--text);
  margin-right: 1rem;
} 