body#about img {height: 25em;}
body#portfolio img {height: 15em;}
/* body#portfolio header img {height: 3em;margin-left: 93%; margin-top: auto; margin-bottom: auto} */
/* body header h1{display:inline;} */
body img#background {background-color: aqua;}

p
{
    max-width: 35em;
}

/* something something these colors get modified in the html */
body
{
    background-color: #23202d;
    background-image: url("../images/background.png");
    background-size: 75%;
    background-repeat: repeat;
    color: #ebeaef;
    font-family: "Oxygen", sans-serif;

    font-size: 18px;
    line-height: 1.5;

    /* hhhhhhhh */
    display: grid;
    grid-template-areas: "head head" "nav main" "foot foot";
    grid-template-columns: 15em 1fr;
    grid-template-rows: 5em 1fr 5rem;
}

body > header
{
    grid-area: head;
    background-color: #17151e;
    padding-left: 3%;

    /* pain */
    display: grid;
    grid-template-areas: "h1 h1" "img toggle";
    /* grid-template-columns: 15em 1fr; */
    grid-template-columns: 1fr max-content;
}

body > header > h1
{
    /* grid-area: h1; */
    display: inline;
}

body > header > img#colorSwitch
{
    /* grid-area: img; */
    height: 5em;
}

body > nav
{
    grid-area: nav;
    color: #fee285;
    padding-left: 9%;
}

body > main
{
    grid-area: main;
    padding-left: 1em;
}

body > footer
{
    grid-area: foot;
}

h1, h2, h3, h4
{
    line-height: 0.7;
}

.strikethrough
{
    text-decoration: line-through;
}